
<Card Style="width:40rem;">
    <CardBody>
        <CardText>Posted by <a href="/Profile/@Post.Owner.UserName">@Post.Owner.UserName</a> at @Post.CreatedAt.ToShortTimeString()</CardText>
            <CardTitle>@Post.Title</CardTitle>
            <CardText>@Post.Message</CardText>
            <div class="row">
                <div class="col">
                    <VoteElement Entity="Post" />
                </div>
                <div class="col">
                    <Button class="btn btn-small" Color="ButtonColor.None" To="@ViewURL" Type="ButtonType.Link"><Icon Name="IconName.Messenger" /> @Post.GetCommentWeight Comments</Button>
            </div>
        </div>
    </CardBody>
</Card>

@code 
{
    /// <summary>
    /// Gets or sets the post for this element to display.
    /// </summary>
    [Parameter] public Post? Post { get; set; } = new Post();

    /// <summary>
    /// Gets the URL of the post. Using the razor page it likes to act up.
    /// </summary>
    private string ViewURL
    {
        get { return "/Posts/View/" + Post.Id; }
    }
}
